html {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.youtube-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 25px;
  padding: 25px;
}


.youtube-image {
  height: 500px;
  margin-bottom: 8px;
}

.youtube-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.youtube-footer {
  display: flex;
  align-items: flex-start;
  gap: 0px 20px;
}

.youtube-avatar {
  height: 150px;
  height: 150px;
  border-radius: 100rem;
  object-fit: cover;
  flex-shrink: 0;
  
}


.youtube-title {
  font-size: 20px;
  margin-bottom: 10px;
}

.youtube-author {
  font-size: 14px;
  color: #999;
  font-weight: 100;
}